@inherits LayoutComponentBase




<div class=" centralizar row flex-column">
<Navegacao/>
  <div class="conteudo">
            @Body
  </div>

<Rodape/>
</div> 











@*<div class="sidebar">
    <NavMenu />
</div>*@
@*  <div class="content px-4">
        @Body
    </div>*@

@*<div class="main">
    <div class="top-row px-4 h-auto zindex-sticky ">
        
        <MenuAuthentication/>
     
    </div>

  
</div>
*@
