

<header> 
        <div class="container">
            <div class="logo"><a href="/"><img src="./images/logo dupolvo.svg"></a> </div>              
        <div class="justify-content-end"> 
            <MenuAuthentication/>
        </div>
        </div>
 
        <nav class="categoria">
            <ul>
                <li><a href="catalogo/1">Bebidas</a></li>
                <li><a href="catalogo/2">Carnes</a></li>
                <li><a href="catalogo/3">Hortifruit</a></li>
                <li><a href="catalogo/4">Mercearia</a></li>
                <li><a href="catalogo/5">Limpeza</a></li>
                <li><a href="catalogo/6">Padaria</a></li>
                <li><a href="catalogo/7">Papelaria</a></li>
            </ul>
        </nav>
</header>
